body {
    background:url(../img/sand.jpg) repeat;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
/********************************************* ИГРА ************************************/
.game{
    position: relative;
    /* margin-left: 50%; */
    left: -180px;
    width: 360px;
    height: 100%;
}

/********************************************* ДОРОГА ************************************/
#road{
    position:absolute;
    top:-640px;
    left:0px;
    width:360px;
    height:100%;
    background:grey url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==');
    z-index: 1
}

#roadLeft {
    position:absolute ;
    top:0px;
    left:5px;
    width:163px;
    height:100%;
    border-right:5px solid white;
    border-left:5px solid orange;
}

#roadRight {
    position:absolute;
    top:0px;
    right:5px;
    width:163px;
    height:100%;
    border-right:5px solid orange;
    border-left:5px solid white;
}

/********************************************* ПРЕПЯТСТВИЕ ************************************/

.barrier {
    position:absolute;
    background:rgb(255, 170, 170);
    border: 1px solid #000;
    width:120px;
    height:30px;
    left:0px;
    top:0px;
    z-index:2;
}

.borts {
    position: absolute;
    background: rgb(255, 0, 0);
    height: 30px;
    width: 5px;
}

.leftBort{
    left: 0;
}

.rightBort{
    right: 0;
}
/********************************************* МАШИНКА ************************************/

#car {
    left:145px;
    top:360px;
    position:absolute;
    background:#41bf43;
    height:120px;
    width:70px; 
    border-radius:15px;
    border:1px solid #000;
    z-index: 3;
}

.elemCar{
    position:absolute;
    /*border:1px solid #000;*/
}

#frontLeftLight{
    left:0px;
    top:0px;
    height:15px;
    width:20px;
    background:#eef17b;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    border-radius:15px 0px 0px 0px;
}
#frontRightLight{
    right:0px;
    top:0px;
    height:15px;
    width:20px;
    background:#eef17b;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
    border-radius:0px 15px 0px 0px;
}
#roofCar{
    left:10px;
    top:45px;
    height:45px;
    width:50px;
    background:#41bf43;
    border:1px solid #000;
    z-index:4;
}
#glass{
    left:10px;
    top:30px;
    height:70px;
    width:50px;
    background:#00eeff;
    border:1px solid #000;
    border-radius:10px;
    z-index:0;
}
#backLeftLight{
    left:0px;
    bottom:0px;
    height:10px;
    width:20px;
    background:#f57875;
    border-right:1px solid #000;
    border-top:1px solid #000;
    border-radius:0px 0px 0px 15px;
} 
#backRightLight{
    right:0px;
    bottom:0px;
    height:10px;
    width:20px;
    background:#f57875;
    border-left:1px solid #000;
    border-top:1px solid #000;
    border-radius:0px 0px 15px 0px;
}
/********************************************* ОЧКИ ************************************/

#score {
    position:absolute;
    top:0px;
    left:0px;
    width:358px;
    height:35px;
    background:white;
    z-index:3;
    border:1px solid #000;
    line-height:35px;
    font-size:23px;
}


#point {
    position:absolute; 
    left:4px;
 }
 
 #maxPoint {
    position:absolute;
    right:4px;
    color:red;
 }
/********************************************* КНОПКИ ************************************/

.blr{      
    line-height: 500px;
    color: white;
    position: fixed;
    background: blue;
    height: 100pc;
    width: 50%;
    opacity: 0.5;
    transition: 200ms;
    z-index:5;
}

#left {
    text-align: right;
    left:0px;
    top:0px;
}

#right {
    text-align: left;
    right: 0px;
    top: 0px;
    background:red;
}

#center{
    position: absolute;
    width: 4px;
    height: 100pc;
    left: 178px;
    z-index: 6;
}


/********************************************* КОНЕЦ ИГРЫ ************************************/
#gameOver {
    display:none;
    top:0px;
    left:0px;
    position:absolute;
    height:100pc;
    width:360px;
    background:#ffbf00;    
    z-index:7;
}

#results {
    position:absolute;
    top:120px;
    left:110px;
    text-align:center;
    /*text-shadow:1px 1px 0px #fff;*/
}

#replay{
    color:white;
    font-size:40px;
    text-shadow:4px 4px 10px #000;
}
/********************************************* ИЗМЕНЕНИЕ ЦВЕТА МАШИНКИ************************************/

.changeColorCar{
    width: 360px;
    height: 40px;
}

.colorCar{    
    float:left;
    width: 38px;
    height: 38px;
    border:1px solid #000;
}

#checkOn {
    position: relative;
    width: 30px;
    left: 4px;
    top: 4px;
    height: 30px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 50pc;
    text-align: center;
    line-height: 30px;
}
